@font-face {
    font-family: 'alexbrush';
    src:
        url('fonts/alexbrush-regular-webfont.woff2') format('woff2');
    font-display: swap;
    size-adjust: 110%;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    --main-theme-color: rgb(250, 169, 19);
    --main-red: 250;
    --main-green: 169;
    --main-blue: 19;
    --secondary-theme-color: rgb(5, 86, 236);
    --secondary-red: 5;
    --secondary-green: 86;
    --secondary-blue: 236;
}

body {
    background: #CCCCCC;
    font-family: sans-serif;
    padding: 1rem;
}

h1 {
    text-transform: uppercase;
}

p:not(.staff-member p) {
    text-indent: 1em;
    text-align: justify;
    hyphens: auto;
}

header {
    padding: 0 2%;
    background: white;

    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 4px 2px -2px rgba(var(--main-red), var(--main-green), var(--main-blue), 0.5);
}

nav.crumbs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0 0;
}

nav.crumbs>a.logo {
    font: 900 3rem 'alexbrush', sans-serif;

    margin-right: auto;
    padding: 0.6rem 3rem 0 3rem;
}

#menu-on {
    padding: 0.2rem 0 0 0;
    color: #666;
    font-weight: 100 !important;
    display: none;
}

nav.crumbs>a.logo:not(#menu-on)::after {
    content: "";
    display: block;
    inline-size: 100%;
    block-size: 5px;
    background: var(--main-theme-color);
}

nav.crumbs>a {
    text-decoration: none;
    color: black;
}

nav.crumbs>a:not(.logo):not(.social-media) {
    align-self: stretch;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav.crumbs>a:not(.logo):not(.social-media):hover,
nav.crumbs>a:not(.logo):not(.social-media):focus,
nav.crumbs>a:not(.logo):not(.social-media):active {
    /* color: var(--secondary-theme-color); */
    background: #F5F5F5;
    font-weight: bold;
}

nav.crumbs>a:not(.social-media):focus {
    outline: none;
}

nav.crumbs>a.crumb.social-media {
    color: #666;
    margin-left: 1rem;
}

nav.crumbs>a.crumb.social-media.first-social {
    margin-left: 2rem;
}

nav.crumbs>a.crumb:not(.social-media):not(.logo) {
    flex: 1 0 7rem;
    text-align: center;
}

.mobile-menu {
    display: flex;
    transition: transform 300ms ease-in-out;
    transform-origin: 95% 2.5rem;
}

.m-on {
    transform: scale(1, 1);
}

.m-off {
    transform: scale(0, 0);
}

main {
    background: white;
}

main>section {
    padding: 2rem 15%;
}

main>section.intro {
    background: #F5F5F5;

    display: grid;
    grid:
        /* Note: you can NOT use repeat() here! Or it won't work! */
        "first image image" auto "first image image" auto "second second second" auto / 1fr 1fr 1fr;
    gap: 1rem;
}

main>section.intro h1 {
    font-size: 3rem;
    font-weight: 900;
}

main>section.intro h1::after {
    content: "";
    display: block;
    inline-size: 6rem;
    block-size: 5px;
    background: var(--main-theme-color);
}

main>section.intro div.start {
    grid-area: first;
}

#main-image {
    inline-size: 90%;
    margin: auto;
    grid-area: image;
    box-shadow: rgba(var(--main-red), var(--main-green), var(--main-blue), 0.3) 0px 22px 70px 4px;
}

main>section.intro div.end {
    grid-area: second;
}

main>section.gallery {
    display: grid;
    grid:
        auto-flow auto / repeat(3, 1fr);
    gap: 1rem;
}

main>section.gallery>h2.section-header {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    grid-area: 1 / 1 / 2 / 4;
}

main>section.gallery>h2.section-header::after {
    content: "";
    display: block;
    inline-size: 100%;
    block-size: 5px;
    background: var(--main-theme-color);
}

main>section.gallery>div.animal:hover {
    box-sizing: border-box;
    border: 5px solid rgba(var(--main-red), var(--main-green), var(--main-blue), 0.8);
}

main>section.gallery>div.animal>img {
    inline-size: 100%;
    block-size: 100%;
    transition: opacity 0.5s ease;
}

main>section.gallery>div.animal>img:hover {
    opacity: 0.8;
}

main>section.preservation {
    display: grid;
    grid: repeat(2, auto) / 2fr 1fr 1fr;
    gap: 1rem;
}

main>section.preservation>div.summary {
    margin: 0 2rem 0 0;
    grid-area: 1 / 1 / 3 / 2;
}

main>section.preservation>div.summary>h2::after {
    content: "";
    display: block;
    inline-size: 3rem;
    block-size: 4px;
    background: var(--main-theme-color);
}

main>section.preservation>div.step>h3::after {
    content: "";
    display: block;
    inline-size: 2rem;
    block-size: 3px;
    background: var(--main-theme-color);
}

main>section.staff>div.staff-members {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem 2rem;
    justify-content: space-evenly;
}

main>section.staff div.staff-member {
    inline-size: 20rem;
    padding: 1rem 2rem;
    background: #CCCCCC;
    box-shadow: rgba(var(--secondary-red), var(--secondary-green), var(--secondary-blue), 0.7) 5px 5px 2px 0px;

    display: grid;
    grid: 5rem 20rem 15rem / 1fr;
}


main>section.staff div.staff-member>h3 {
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    align-self: center;
    transition: font-size 0.5s ease;
}

main>section.staff div.staff-member>img {
    border-radius: 50%;
    inline-size: 20rem;
    block-size: 20rem;
    margin: 0 auto;
    opacity: 0.7;
}

main>section.staff div.staff-member:hover {
    box-shadow: rgba(var(--secondary-red), var(--secondary-green), var(--secondary-blue), 1) 7px 7px 7px 0px;
}

main>section.staff div.staff-member:hover h3 {
    font-size: 2rem;
}

main>section.staff div.staff-member:hover>img {
    transition: scale 0.5s ease, opacity 1s ease;
    scale: 1.1;
    opacity: 1;
}

main>section.staff div.staff-member:hover p {
    padding-top: 0.5em;
    font-weight: bold;
    /* transition: color 3s ease;
    color: rgba(var(--secondary-red), var(--secondary-green), var(--secondary-blue), 1); */
}

main>section.staff div.staff-member>p {
    color: #444;
    font-style: italic;
    align-self: start;
    text-align: center;
}

main>section.staff>h2 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}

main>section.staff>h2::after {
    content: "";
    display: block;
    inline-size: 100%;
    block-size: 5px;
    background: var(--main-theme-color);
}

main>section.article>h2::after {
    content: "";
    display: block;
    inline-size: 3rem;
    block-size: 5px;
    background: var(--main-theme-color);
}

main>section.contact-us {
    background: #F5F5F5;
    display: flex;
    gap: 2rem;
}

main>section.contact-us>* {
    flex: 1 1 0;
}

main>section.contact-us h2 {
    position: relative;

    font-size: 2.5rem;
    text-align: right;
}

main>section.contact-us h2::after {
    position: absolute;
    right: 0;

    content: "";
    display: block;
    inline-size: 7.5rem;
    block-size: 5px;
    background: var(--main-theme-color);
}

main>section.contact-us p {
    text-align: right;
}


main>section.contact-us>form {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}


main>section.contact-us>form label {
    font-weight: bold;
}

main>section.contact-us>form input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 6px 0 16px;
}

main>section.contact-us>form input[type=submit] {
    font-weight: bold;
    background-color: #666;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main>section.contact-us>form input[type=submit]:hover {
    background-color: var(--secondary-theme-color);
}

footer {
    background: white;
    color: #666;
    padding: 1rem 5%;

    display: flex;
    align-items: center;
    gap: 0 1rem;
}

footer>span.copyright {
    margin-right: auto;
}

footer>span.copyright i {
    font: bold 1.2rem 'alexbrush', cursive;
}

@keyframes glow {
    0% {
        color: rgb(54, 54, 126);
    }

    50% {
        color: rgb(139, 9, 252);
        text-shadow: 0px 0px 1px red;
    }

    100% {
        color: rgb(54, 54, 126);
    }
}

#author {
    color: rgb(54, 54, 126);
    animation: glow 3s linear 0s infinite alternate-reverse both;
}

footer>a.social-media {
    color: #666;
    padding: 0;
}

div#scrollup {
    display: none;

    position: fixed;
    bottom: 2rem;
    right: 2rem;

    font-size: 2rem;
    inline-size: 2rem;
    block-size: 2rem;

    background-color: var(--main-theme-color);
    color: white;

    cursor: pointer;

    text-align: center;
}

div#scrollup:hover {
    background-color: var(--secondary-theme-color);
}

a.social-media:hover i.fab {
    color: var(--secondary-theme-color);
}

p::first-letter {
    font: 600 2rem/0.5 'alexbrush', sans-serif;
    text-transform: uppercase;
    color: rgb(60, 0, 0);

    margin-right: 0.1rem;
}

/* responsive web design (phones) */
@media (max-width: 999px) {

    /* general */
    body {
        padding: 0.5rem;
    }

    body p {
        font-weight: 400;
    }

    /* header */
    header>nav.crumbs {
        align-items: stretch;
    }

    header>nav.crumbs>a:not(#menu-on).logo {
        font-size: 4.5rem;
    }

    nav.crumbs>a.logo:not(#menu-on)::after {
        display: none;
    }

    header>nav.crumbs>a.crumb:not(.logo) {
        display: none;
    }

    /* mobile menu */
    a.crumb.logo {
        margin: 3rem 0;
    }

    #menu-on {
        display: inline;
        margin-right: 0;
    }

    header>nav.mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: white;
        padding: 0 0 2rem 0;

        flex-direction: column;

        font-size: 3rem;
        color: #666;

        box-shadow: 0px 3px 3px 1px rgba(var(--main-red), var(--main-green), var(--main-blue), 0.5);
    }

    header>nav.mobile-menu>#menu-off {
        position: absolute;
        top: 2.5rem;
        right: 1.5rem;
    }

    body>header>nav.mobile-menu>.switch {
        margin: 1rem 1rem 0 auto;
    }

    header>nav.mobile-menu>a {
        display: inline-block;

        inline-size: 90%;
        block-size: 6rem;

        text-align: left;
        text-decoration: none;
        margin: 3rem auto 0 auto;
        border-bottom: 1px solid #666;
    }

    header>nav.mobile-menu>a:visited {
        color: inherit;
    }

    /* sections general */
    main>section {
        padding: 0 7%;
        margin-bottom: 3rem;
    }

    /* intro section */
    main>section.intro {
        display: flex;
        flex-direction: column;
    }

    body>main>section.intro>div.start>h1 {
        text-align: center;
    }

    main>section.intro h1::after {
        inline-size: 100%;
    }

    /* gallery section */
    body>main>section.gallery>h2.section-header {
        font-size: 3rem;
    }

    /* preservation section */
    main>section.preservation {
        display: flex;
        flex-direction: column;
    }

    main>section.preservation>div.summary>h2 {
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
    }

    main>section.preservation>div.summary>h2::after {
        inline-size: 100%;
    }

    body>main>section.article>h2 {
        font-size: 3rem;
        text-align: center;
    }

    /* staff section */
    main>section.staff>h2 {
        font-size: 3rem;
    }

    main>section.staff div.staff-member {
        inline-size: 100%;
        grid: 5rem 20rem auto / 1fr;
    }

    main>section.staff div.staff-member>img {
        opacity: 1;
    }

    /* article section */
    main>section.article {
        display: flex;
        flex-direction: column;
    }

    main>section.article>h2::after {
        inline-size: 100%;
    }

    /* contact us section */
    main>section.contact-us {
        flex-direction: column;
    }

    main>section.contact-us>* {
        flex: none;
    }

    main>section.contact-us h2 {
        text-align: center;
        font-size: 3rem;
    }

    main>section.contact-us h2::after {
        left: 0;
        inline-size: 100%;
    }

    main>section.contact-us p {
        text-align: justify;
    }

    main>section.contact-us>form {
        padding: 0;
    }

    body>main>section.contact-us>form>* {
        font-size: 2.2rem;
    }

    main>section.contact-us>form input[type=text],
    select,
    textarea {
        margin: 1.2rem 0;
    }

    body>main>section.contact-us>form>input[type=submit] {
        background-color: var(--secondary-theme-color);
        block-size: 5rem;
        margin-top: 0.6rem;
        margin-bottom: 2rem;
    }

    /* footer */
    footer {
        block-size: 8rem;
        font-size: 2rem;
        flex-wrap: wrap;
    }

    footer>span.copyright {
        inline-size: 100%;
        text-align: center;
        margin-top: 1rem;
    }

    footer>span.copyright i {
        font-size: 2.4rem;
    }

    body>footer>a.crumb.social-media.first-social {
        margin-left: auto;
    }

    body>footer>a.crumb.social-media {
        margin-inline: 0.5rem 0.5rem;
        margin-bottom: 0.5rem;
    }

    body>footer>a.crumb.social-media:last-child {
        margin-right: auto;
    }
}